.button {
    background: var(--secondary-color);
    border: 1px solid var(--border);
    border-radius: 7px;
    padding: .5rem 1rem;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 5rem;

    vertical-align: middle;

    line-height: 1;

    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);

    letter-spacing: -1px;
    font-variation-settings: "wght" 800,"wdth" 42;
}

.button * {
    margin: 0;
}